<mat-toolbar color="primary">
  <div routerLink="/">
    <mat-icon>book</mat-icon>
    <span>BG Library — {{document.title}}</span>
  </div>
  <span class="spacer"></span>
  <div *ngIf="this.authorizationService.isLoggedIn()" routerLink="me" class="pill">
    <mat-icon aria-hidden="false" aria-label="**Username**">account_circle</mat-icon>
    <span>@{{this.authorizationService.userName()}}</span>
    <mat-icon aria-hidden="false" aria-label="**Username**" (click)="logout()">logout</mat-icon>
  </div>
  <mat-icon *ngIf="!this.authorizationService.isLoggedIn()" aria-hidden="false" aria-label="Not logged in" routerLink="/login">no_accounts</mat-icon>
</mat-toolbar>
