div {
    border: 5px peachpuff;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}

section.userinfo
{
    width: 20%;
    margin-right:auto;
    margin-left:auto;
}
